<div class="animated fadeIn">
	<div class="row">
                <div class="col-lg-12">
                    <div class="card">
	                    <div>
		                      <div class="card-header">
		                        Participantes
		                      </div>
		                      <div class="card-body row">

							    <div class="card col-sm-12 clt-conect mgb-3" 
							    	ng-repeat="cliente in clientes" 
							    	ng-show="mostrar_participantes" ng-class="{ 'clt-conect-right': cliente.answered==1, 'clt-conect-wrong': cliente.answered==0  }">
		                           
											<div class="col-sm-12 card-body p-2 clearfix">
												<i class="fa fa-user p-3 font-2xl mr-3 float-left"
													ng-class="{'bg-primary': cliente.logged, 'bg-info': !cliente.logged }"></i>
												<div class="h5 text-primary mb-0 mt-0">{{cliente.user_data.nombres}} {{cliente.user_data.apellidos}} {{ cliente.answered }}</div>
												<div class="text-muted text-uppercase font-weight-bold font-xs">{{cliente.nombre_punto}}</div>
											</div>
										</div>
		 					  
		 					  </div>
 		 				</div>
 		    		</div>
               </div>
    </div>

</div>
