<div class="animated fadeIn">
     <div class="row">
        <div class="col-lg-12">
           <div class="card">
                <div class="card-header">
                  <i class="fa fa-question-circle"></i> Preguntas
                </div>
                <div class="card-body">
                  
                  <div ng-show="mostrar_alert" class="alert alert-success alert-dismissible fade show" role="alert">
                     <strong>¡Correcto!</strong> la pregunta ha sido {{}} con éxito.
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>

                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Id</th> 
                        <th>Definición</th> 
                        <th>Tipo</th> 
                        <th>Pertenece a:</th> 
                        <th>Opción A</th> 
                        <th>Opción B</th>
                        <th>Opción C</th> 
                        <th>Opción D</th> 
                        <th>Respuesta Correcta</th> 
                        <th style="min-width: 100px;">Opciones</th>
                    </tr>
                    </thead>
                    
                    <tbody> 
                       <tr  ng-repeat="p in preguntas">
                            
                            <th scope="row">{{p.rowid}}</th>
                            
                            <td>
                              <span ng-show="!p.editando">{{p.definicion}}</span>
                              <span ng-show="p.editando"><input type="text" ng-model="p.definicion"></span>

                            </td>
                            <td>
                                <span ng-show="!p.editando">{{p.tipo}}</span>
                             
                                <span ng-show="p.editando">
                                    
                                    <label>
                                      <input type="radio" ng-model="p.tipo" value="Multiple">Múltiple
                                    </label>
                                    
                                    <label>
                                      <input type="radio" ng-model="p.tipo" value="Falso/Verdadero">Falso/Verdadero
                                    </label>
                                   
                                </span> 
                               
                            </td>

                            <td>
                              <span ng-show="!p.editando">Prueba {{p.prueba_id}}</span>
                                <span ng-show="p.editando">
                                     <select class="form-control"  ng-model="p.prueba_id">
                                           <option ng-repeat="prueba in pruebas" value="{{prueba.rowid}}">{{prueba.alias}}</option>
                                         </select> 
                                
                                </span>
                               
                            </td>
                            
                            <td>
                              <span ng-show="!p.editando">{{p.opc_a}}</span>
                              <span ng-show="p.editando"><input type="text" ng-model="p.opc_a"></span>
                             </td>
                            
                            <td>
                              <span ng-show="!p.editando">{{p.opc_b}}</span>
                              <span ng-show="p.editando"><input type="text" ng-model="p.opc_b"></span>
                            </td>
                            
                            <td>
                              <span ng-show="!p.editando">{{p.opc_c}}</span>
                              <span ng-show="p.editando"><input type="text" ng-model="p.opc_c"></span>
                            </td>
                             
                             <td>
                              <span ng-show="!p.editando">{{p.opc_d}}</span>
                              <span ng-show="p.editando"><input type="text" ng-model="p.opc_d"></span>
                            </td>

                            <td>
                                <span ng-show="!p.editando">{{p.correcta}}</span>
                                <span ng-show="p.tipo == 'Multiple'"> 
                                    <span ng-show="p.editando">
                                      <label>
                                        <input type="radio" ng-model="p.correcta" value="A">A
                                      </label>
                                      
                                      <label>
                                        <input type="radio" ng-model="p.correcta" value="B">B
                                      </label>

                                      <label>
                                        <input type="radio" ng-model="p.correcta" value="C">C
                                      </label>

                                      <label>
                                        <input type="radio" ng-model="p.correcta" value="D">D
                                      </label>
                                      
                                    </span>
                                 </span>
                                     <span ng-show="p.tipo == 'Falso/Verdadero'">
                                         <span ng-show="p.editando">
                                          <label>
                                            <input type="radio" ng-model="p.correcta" value="Verdadero">Verdadero
                                          </label>
                                          
                                          <label>
                                            <input type="radio" ng-model="p.correcta" value="Falso">Falso
                                          </label>

                                        </span>
                                     </span>
                            </td>
                            <td style="padding: 0px;">
                              <span ng-show="!p.editando">
                                <div class="btn-group">
                                    <button class="btn-sm btn btn-danger fa fa-close" ng-click="eliminar_ask(p.rowid)" uib-tooltip="Eliminar"></button> 
                                    
                                    <button ng-click="editarP(p)" class="btn-sm btn btn-info fa fa-pencil" uib-tooltip="Editar"></button> 
                                </div>
                              </span>
                               <button ng-click="editarAsk(p)" ng-show="p.editando" class="btn-sm btn btn-info fa fa-check" ></button> 
                            </td>
                        
                       </tr>
                     </tbody> 
                  </table>

               

                  <button type="button" class="btn btn-info btn-lg btn-block" name="boton1" ng-show="!mostrando" ng-click="mostrar()">Crear</button>
                    
                <div  ng-show="mostrando">
                                        
                  <div class="card">
                    <div class="card-header">
                      <h3><strong>Crear las preguntas</strong> </h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="textarea-input"><h5>Definición:</h5></label>
                          <div class="col-md-9">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" ng-model="preg_nueva.definicion" placeholder="Contenido.."></textarea>
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="select1"><h5>Pertenece a la prueba:</h5></label>
                          <div class="col-md-9">
                            <select id="select1" name="select" class="form-control" ng-model="preg_nueva.prueba_id" size="1">
                              <option value="0">Seleccione</option>
                              <option ng-repeat="n in pruebas" value="{{n.rowid}}">{{n.alias}}</option>
                            </select>
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label"><h5>Tipo de pregunta:</h5></label>
                          <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="radio" id="inline-radio1"  ng-model="preg_nueva.tipo" value="Multiple" name="inline-radios">
                              <label class="form-check-label" for="inline-radio1">Múltiple</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="radio" id="inline-radio2" ng-model="preg_nueva.tipo" value="Falso-Verdadero" name="inline-radios">
                              <label class="form-check-label" for="inline-radio2">Falso/Verdadero</label>
                            </div>
                          </div>
                        </div>

                        <div  ng-show="preg_nueva.tipo == 'Multiple' ">

                                <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="textarea-input"><h5>Opción A:</h5></label>
                                <div class="col-md-9">
                                  <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" ng-model="preg_nueva.opc_a" value="A" placeholder="..."></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="textarea-input"><h5>Opción B:</h5></label>
                                <div class="col-md-9">
                                  <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" ng-model="preg_nueva.opc_b" value="B" placeholder="..."></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="textarea-input"><h5>Opción C:</h5></label>
                                <div class="col-md-9">
                                  <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" ng-model="preg_nueva.opc_c" value="C" placeholder="..."></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="textarea-input"><h5>Opción D:</h5></label>
                                <div class="col-md-9">
                                  <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" ng-model="preg_nueva.opc_d" value="D" placeholder="..."></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label class="col-md-3 col-form-label"><h5>Elija respuesta:</h5></label>
                                <div class="col-md-9 col-form-label">
                                  <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" id="inline-radio1"  ng-model="preg_nueva.correcta" value="A" name="inline-radios">
                                    <label class="form-check-label" for="inline-radio1">A</label>
                                  </div>
                                  <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" id="inline-radio2" ng-model="preg_nueva.correcta" value="B" name="inline-radios">
                                    <label class="form-check-label" for="inline-radio2">B</label>
                                  </div>
                                  <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" id="inline-radio2" ng-model="preg_nueva.correcta" value="C" name="inline-radios">
                                    <label class="form-check-label" for="inline-radio2">C</label>
                                  </div>
                                  <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" id="inline-radio2" ng-model="preg_nueva.correcta" value="D" name="inline-radios">
                                    <label class="form-check-label" for="inline-radio2">D</label>
                                  </div>
                                </div>
                          </div>
                        </div>

                        <div ng-show="preg_nueva.tipo == 'Falso-Verdadero' ">
                          
                          <div class="form-group row">
                                <label class="col-md-3 col-form-label"><h5>Elija respuesta:</h5></label>
                                <div class="col-md-9 col-form-label">
                                  <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" id="inline-radio1"  ng-model="preg_nueva.correcta" value="Falso" name="inline-radios">
                                    <label class="form-check-label" for="inline-radio1">Falso</label>
                                  </div>
                                  <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" id="inline-radio2" ng-model="preg_nueva.correcta" value="Verdadero" name="inline-radios">
                                    <label class="form-check-label" for="inline-radio2">Verdadero</label>
                                  </div>
                                </div>
                          </div>

                        </div>
                    </div>
                                <div class="card-footer">
                                  <button type="button" class="btn btn-primary" ng-click="insertarAsk(preg_nueva)"><i class="fa fa-dot-circle-o"></i>&nbsp; Crear</button>


                                  <button type="button" class="btn btn-danger" ng-click="salir()"><i class="fa fa-ban"></i>&nbsp; Cerrar</button>
                                 
                                </div>
              </div>

            </div>
          </div>
       </div>
    </div>
  </div>

</div>