<div class="animated fadeIn">
	<div class="row">
                <div class="col-lg-12">
                    <div class="card">
	                    <div>
		                      
		                      <div class="card-body row">

							    <div class="card col-sm-4 clt-conect" 
							    	ng-repeat="p in puesto">
		                            
		                           <div><h2>{{posicion}}° lugar</h2></div>
                          		</div>
		 					  
		 					  </div>
 		 				</div>
 		    		</div>
               </div>
    </div>

</div>
